<div *ngIf="!successed" class="registration registration--password">
  <form (ngSubmit)="onSubmit()" [formGroup]="passwordGroup" class="registration__form">
    <fieldset class="registration__fieldset">
      <legend class="registration__legend">Создайте пароль</legend>
      <div class="registration__fieldset-inner">
        <app-validation-input [errorTexts]="errors"
                              [errors]="['required', 'minlength']"
                              [formGroup]="passwordGroup"
                              controlName="password"
                              title="Пароль"
                              type="password"
        >
        </app-validation-input>
        <app-validation-input [errorTexts]="errors"
                              [errors]="['required', 'matchPassword']"
                              [formGroup]="passwordGroup"
                              controlName="confirmPassword"
                              title="Повторите пароль"
                              type="password"
        >
        </app-validation-input>
        <div class="registration__row">
          <app-button color="primary" name="Регистрация" type="submit"></app-button>
        </div>
      </div>
    </fieldset>
  </form>
  <app-close-button routerLink="/home" title="Закрыть"></app-close-button>
</div>
<app-register-success *ngIf="successed"></app-register-success>
