<div class="registration registration--password" *ngIf="!successed">
    <form class="registration__form"  (ngSubmit)="onSubmit()" [formGroup]="passwordGroup">
        <fieldset class="registration__fieldset">
            <legend class="registration__legend">Создайте пароль</legend>
            <div class="registration__fieldset-inner">
                <div class="registration__row">
                    <label class="registration__label">
                        <input class="registration__input" type="password" name="password"
                            aria-label="Напишите ваше имя" required="required" formControlName="password"
                            [ngClass]="{
                                'registration__input--invalid': (password.invalid && (password.dirty || password.touched)),
                                'registration__input--valid' : (password.valid)
                            }"
                        >
                        <span class="registration__label-text">Пароль</span>
                        <span class="registration__input-invalid-text">Неправильно заполнено поле</span>
                    </label>
                </div>
                <div class="registration__row">
                    <label class="registration__label">
                        <input class="registration__input" type="password" name="confirm-password"
                            aria-label="Напишите номер телефона" required="required" formControlName="confirmPassword"
                            [ngClass]="{
                                'registration__input--invalid': (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)),
                                'registration__input--valid' : (confirmPassword.valid)
                            }"
                        >
                        <span class="registration__label-text">Повторите пароль</span>
                        <span class="registration__input-invalid-text">Неправильно заполнено поле</span>
                        <span *ngIf="confirmPassword.errors?.matchPassword" class="registration__input-invalid-text">Пароль не совпадает</span>
                    </label>
                </div>
                <div class="registration__row">
                    <button type="submit" class="registration__submit">Регистрация</button>
                </div>
            </div>
        </fieldset>
    </form>
    <button type="button" class="registration__close" routerLink="/home">
        <span class="registration__close-text">Закрыть</span>
    </button>
</div>
<app-register-success *ngIf="successed"></app-register-success>