
.registration--success {
    max-width: none;
    padding-top: 60px;
    padding-right: 135px;
    padding-bottom: 80px;
    padding-left: 135px;
    color: #000000;
}

.registration__success-img {
    display: block;
    width: 72px;
    height: 57px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.registration__success-thanks {
    margin-bottom: 25px;
    color: #2e82ff;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.registration__success-text {
    width: 190px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}
