<div class="registration registration--success">
    <div class="registration__success">
        <img src="./assets/img/tick.png" alt="success image" class="registration__success-img" width="72" height="57">
        <div class="registration__success-thanks">
            Спасибо!
        </div>
        <div class="registration__success-text">
            с Вами свяжется менеджер
            в ближайшее время
        </div>
    </div>
    <button type="button" class="registration__close" routerLink="/home">
        <span class="registration__close-text">Закрыть</span>
    </button>
</div>