.registration__close {
  position: absolute;
  right: 0;
  bottom: calc(100% + 6px);
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: transparent;
}

.registration__close:hover {
  cursor: pointer;
}

.registration__close::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 7px;
  background-image: url("../../../assets/img/cancel.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
