<div *ngIf="!successed" class="registration">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerFormGroup" class="registration__form">
    <fieldset class="registration__fieldset">
      <legend class="registration__legend">Регистрация</legend>
      <div class="registration__fieldset-inner">
        <app-validation-input [errorTexts]="errors"
                              [errors]="['required','minlength']"
                              [formGroup]="registerFormGroup"
                              controlName="username"
                              title="Ваше имя"
                              type="text"
        >
        </app-validation-input>
        <app-validation-input [errorTexts]="errors"
                              [errors]="['required']"
                              [formGroup]="registerFormGroup"
                              controlName="phoneNumber"
                              title="Ваш телефон"
                              type="text"
        >
        </app-validation-input>
        <app-validation-input [errorTexts]="errors"
                              [errors]="['required', 'email']"
                              [formGroup]="registerFormGroup"
                              controlName="email"
                              title="E-mail"
                              type="text"
        >
        </app-validation-input>
        <app-validation-input [errorTexts]="errors"
                              [formGroup]="registerFormGroup"
                              controlName="city"
                              title="Ваш город"
                              type="text">
        </app-validation-input>
        <div class="registration__row">
          <div class="registration__license-agreement">
            Нажимая кнопку вы соглашаетесь с <a class="registration__license-agreement-link" href="">условиями
            и правилами конфидициальности</a>
          </div>
          <app-button color="primary" name="Регистрация" type="submit"></app-button>
        </div>
      </div>
    </fieldset>
  </form>
  <app-close-button routerLink="/home" title="Закрыть"></app-close-button>
</div>
<app-password *ngIf="successed"></app-password>
